.plans-container--slider{
  justify-content: center;
  gap: 20px;
  }
.plans-container--cards{
  margin: 18px 0;
}
.Product-cards--container{
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.main-tables-container{
  display: flex;
}